@use 'config.scss' as *;

@for $i from 0 through 40 {
	@if $i % 2==0 {
		.#{$namespace} {
			&-br-#{$i} {
				border-radius: 1px * $i;
			}
		}
	}
}

@for $i from 0 through 10 {
	@if $i % 2==0 or $i ==1 {
		.#{$namespace} {
			&-bw-#{$i} {
				border-width: 1px * $i;
				border-color: var(--border-color);
			}

			@each $p in $direction {
				$n: str-slice($p, 1, 1);

				&-b#{$n}w-#{$i} {
					border-#{$p}-width: 1px * $i;
					border-color: var(--border-color);
				}
			}
		}

	}
}

.#{$namespace} {
	&-b-n {
		border: none;
	}

	&-bs-s {
		border-style: solid;
	}

	&-bs-d {
		border-style: dashed;
	}

	@each $p in $direction {
		$n: str-slice($p, 1, 1);

		// g-bts-s
		&-b#{$n}s-s {
			border-#{$p}-style: solid;
		}

		// g-bts-d
		&-b#{$n}s-d {
			border-#{$p}-style: dashed;
		}
	}
}