$namespace: 'g' !default;

$display: (
  i: inline,
  b: block,
  ib: inline-block,
  n: none,
  f: flex,
  if: inline-flex,
);
$color: (
  w: #fff,
  b: #000,
);
$background-color: (
  w: #fff,
  b: #000,
  t: transparent,
);
$box-shadow: (
  basic: '0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08)',
  light: '0px 0px 12px rgba(0, 0, 0, .12)',
  lighter: '0px 0px 6px rgba(0, 0, 0, .12)',
  dark: '0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16)',
  n: 'none',
);
$background-repeat: (
  r: repeat,
  rx: repeat-x,
  ry: repeat-y,
  nr: no-repeat,
);
$cursor: (
  p: pointer,
  na: not-allowed,
  m: move,
  zo: zoom-out,
  zi: zoom-in,
  d: default,
);
$font-weight: (
  l: lighter,
  b: bold,
  400: 400
);
$width: (
  auto: auto,
  0: 0,
  50per: 50%,
  100per: 100%,
  100vw: 100vw,
);
$height: (
  0: 0,
  a: auto,
  100per: 100%,
  100vh: 100vh,
);
$min-height: (
  0: 0,
  100per: 100%,
  100vh: 100vh,
);
$timing-function: (
  e: ease,
  ei: ease-in,
  eo: ease-out,
  eio: ease-in-out,
);
$box-sizing: (
  'bb': border-box,
  'cb': content-box
);
$object-fit: (
  f: fill,
  contain: contain,
  cover: cover,
  sd: scale-down,
);

$overflow: auto, hidden;
$float: right, left, none;
$pointer-events: none, auto;
$visibility: visible, hidden;
$text-align: left, center, right;
$text-decoration: none, underline;
$direction: top, right, bottom, left;
$position: relative, absolute, fixed, sticky;


$opacity: 0, 1;
$order: 0, 1, 2, 3, 4, 5;
$deg: 0, 90, 180, 270, 360;
$border-width: 0, 1, 2, 4, 6, 8, 10;
$z-index: -1, 1, 2, 9, 10, 99, 100, 999, 1000, 9999, 10000;
$font-size: 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40;
$line-height: 1, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40;
$number: 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40;
$grid-gap: 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40;
$margin: $number;
$padding: $number;
$border-radius: $number;