@use 'config.scss' as *;

.#{$namespace} {
  &-jc-c {
    @extend .#{$namespace}-d-f;
    justify-content: center;
  }

  &-jc-sb {
    @extend .#{$namespace}-d-f;
    justify-content: space-between;
  }

  &-jc-sa {
    @extend .#{$namespace}-d-f;
    justify-content: space-around;
  }

  &-jc-fe {
    @extend .#{$namespace}-d-f;
    justify-content: flex-end;
  }

  &-ai-c {
    @extend .#{$namespace}-d-f;
    align-items: center;
  }

  &-ai-fs {
    @extend .#{$namespace}-d-f;
    align-items: flex-start;
  }

  &-fd-r {
    @extend .#{$namespace}-d-f;
    flex-direction: row;
  }

  &-fd-rr {
    @extend .#{$namespace}-d-f;
    flex-direction: row-reverse;
  }

  &-fd-c {
    @extend .#{$namespace}-d-f;
    flex-direction: column;
  }

  &-fd-cr {
    @extend .#{$namespace}-d-f;
    flex-direction: column-reverse;
  }

  &-jc-sb-ai-c {
    @extend .#{$namespace}-d-f;
    justify-content: space-between;
    align-items: center;
  }

  &-jc-fe-ai-c {
    @extend .#{$namespace}-d-f;
    justify-content: flex-end;
    align-items: center;
  }

  &-jc-ai-c {
    @extend .#{$namespace}-d-f;
    justify-content: center;
    align-items: center;
  }

  &-fw-w {
    flex-wrap: wrap;
  }

  &-fw-n {
    flex-wrap: nowrap;
  }

  &-fw-wr {
    flex-wrap: wrap-reverse;
  }

  &-fg-1 {
    flex-grow: 1;
  }

  &-fg-0 {
    flex-grow: 0;
  }

  &-fs-1 {
    flex-shrink: 1;
  }

  &-fs-0 {
    flex-shrink: 0;
  }

  &-fb-a {
    flex-basis: auto;
  }

  &-flex-1 {
    flex: 1 1 auto;
  }

  &-flex-0 {
    flex: 0 0 auto;
  }

  @for $o from 0 through 5 {
    &-o-#{$o} {
      order: $o
    }
  }
}