@use 'config.scss' as *;
@use 'sass:string';

.#{$namespace} {

	@each $w in $font-weight {
		$n: string.slice($w, 1, 1);

		&-fw-#{$n} {
			font-weight: $w;
		}
	}

	&-fw-400 {
		font-weight: 400;
	}
}