@use 'config.scss' as *;
@use 'sass:map';

.#{$namespace} {
  @each $k in map.keys($height) {
    &-h-#{$k} {
      height: map.get($height, $k);
    }
  }

  &-mh-100per {
    min-height: 100%;
  }

  &-mh-0 {
    min-height: 0;
  }

  &-mh-100vh {
    min-height: 100vh;
  }
}