@use 'config.scss' as *;

.#{$namespace} {

  @each $o in $overflow {
    $n: str-slice($o, 1, 1);

    &-ox-#{$n} {
      overflow-x: $o;
    }

    &-oy-#{$n} {
      overflow-y: $o;
    }

    &-o-#{$n} {
      overflow: $o;
    }
  }
}