@use 'config.scss' as *;

$attributes: static, relative, absolute, fixed, sticky;

.#{$namespace} {
  @each $a in $attributes {
    $n: str-slice($a, 1, 1);

    &-p-#{$n} {
      position: $a;
    }
  }

  @each $p in $position {
    $n: str-slice($p, 1, 1);

    &-#{$n}-0 {
      #{$p}: 0;
    }
  }
}