@use 'config.scss' as *;

.#{$namespace} {
  &-t-i {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  @each $t in map-keys($timingFunction) {
    &-ttf-#{$t} {
      transition-timing-function: map-get($timingFunction, $t);
    }
  }
}