@use 'config.scss' as *;
@use 'sass:map';

.#{$namespace} {
  &-t-i {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  @each $t in map.keys($timing-function) {
    &-ttf-#{$t} {
      transition-timing-function: map.get($timing-function, $t);
    }
  }
}