@use 'config.scss' as *;

.#{$namespace} {
  &-mw-1200 {
    max-width: 1200px;
  }

  &-mw-0 {
    min-width: 0;
  }

  @each $w in map-keys($width) {
    &-w-#{$w} {
      width: map-get($width, $w);
    }
  }
}