@use 'config.scss' as *;

$width: (
  'auto': auto,
  '0': 0,
  '50per': 50%,
  '100per': 100%,
  '100vw': 100vw,
);

.#{$namespace} {
  &-mw-1200 {
    max-width: 1200px;
  }

  &-mw-0 {
    min-width: 0;
  }

  @each $w in map-keys($width) {
    &-w-#{$w} {
      width: map-get($width, $w);
    }
  }
}