@use 'config.scss' as *;
@use 'sass:map';

.#{$namespace} {
  &-mw-1200 {
    max-width: 1200px;
  }

  &-mw-100per {
    max-width: 100%;
  }

  &-mw-0 {
    min-width: 0;
  }

  @each $k in map.keys($width) {
    &-w-#{$k} {
      width: map.get($width, $k);
    }
  }
}