@use 'config.scss' as *;

.#{$namespace} {

  &-bg-fff,
  &-bc-fff,
  &-bc-w {
    background-color: #fff;
  }

  &-bg-000,
  &-bc-000,
  &-bc-b {
    background-color: #000;
  }


  &-bc-t {
    background-color: transparent;
  }

  &-br-nr {
    background-repeat: no-repeat;
  }
}