@use 'config.scss' as *;

@for $i from 0 through 10 {
	.#{$namespace} {
		&-br-#{$i} {
			border-radius: 1px * $i;
		}
	}
}

@for $i from 0 through 10 {
	.#{$namespace} {
		&-bw-#{$i} {
			border-width: 1px * $i;
		}
	}
}

.#{$namespace} {
	&-bs-s {
		border-style: solid;
	}

	&-bs-d {
		border-style: dashed;
	}

	&-b-n {
		border: none;
	}
}