@use 'config.scss' as *;

.#{$namespace} {

  &-c-pointer,
  &-c-p {
    cursor: pointer;
  }

  &-c-na {
    cursor: not-allowed;
  }

  &-c-m {
    cursor: move;
  }

  &-c-zo {
    cursor: zoom-out;
  }

  &-c-zi {
    cursor: zoom-in;
  }

  &-pe-n {
    pointer-events: none;
  }

  &-pe-a {
    pointer-events: auto;
  }
}