.g-c-pointer,
.g-c-p {
  cursor: pointer;
}

.g-c-na {
  cursor: not-allowed;
}

.g-c-m {
  cursor: move;
}

.g-c-zo {
  cursor: zoom-out;
}

.g-c-zi {
  cursor: zoom-in;
}

.g-pe-n {
  pointer-events: none;
}

.g-pe-a {
  pointer-events: auto;
}