.g-c-pointer, .g-c-p {
  cursor: pointer;
}
.g-c-not-allowed, .g-c-na {
  cursor: not-allowed;
}
.g-c-move, .g-c-m {
  cursor: move;
}
.g-c-zoom-out, .g-c-zo {
  cursor: zoom-out;
}
.g-c-zoom-in, .g-c-zi {
  cursor: zoom-in;
}