.g-relative {
  position: relative;
}
.g-absolute {
  position: absolute;
}
.g-fixed {
  position: fixed;
}
.g-inline {
  display: inline;
}
.g-block {
  display: block;
}
.g-inline-block {
  display: inline-block;
}