.g-ellipsis-1, .g-e-1, .ellipsis-1 {
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.g-ellipsis-2, .g-e-2, .ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}