@use 'config.scss' as *;

.#{$namespace} {

  &-flex,
  &-d-f {
    display: flex;
  }

  &-inline-flex,
  &-d-if {
    display: inline-flex;
  }

  &-jc-c {
    @extend .#{$namespace}-d-f;
    justify-content: center;
  }

  &-jc-sb {
    @extend .#{$namespace}-d-f;
    justify-content: space-between;
  }

  &-jc-sa {
    @extend .#{$namespace}-d-f;
    justify-content: space-around;
  }

  &-jc-fe {
    @extend .#{$namespace}-d-f;
    justify-content: flex-end;
  }

  &-ai-c {
    @extend .#{$namespace}-d-f;
    align-items: center;
  }

  &-fd-c {
    @extend .#{$namespace}-d-f;
    flex-direction: column;
  }

  &-jc-sb-ai-c {
    @extend .#{$namespace}-d-f;
    justify-content: space-between;
    align-items: center;
  }

  &-jc-ai-c {
    @extend .#{$namespace}-d-f;
    justify-content: center;
    align-items: center;
  }

  &-flex-auto,
  &-flex-1 {
    flex: 1 1 auto;
  }

  &-flex-none,
  &-flex-0 {
    flex: 0 0 auto;
  }

  &-flex-wrap,
  &-fw-w {
    flex-wrap: wrap;
  }

  &-flex-nowrap,
  &-fw-n {
    flex-wrap: nowrap;
  }

}