@use 'config.scss' as *;

.#{$namespace} {

  &-d-g {
    display: grid;
  }

  &-d-ig {
    display: inline-grid;
  }

  @for $i from 2 through 40 {
    @if $i % 2==0 {
      &-grg-#{$i} {
        grid-row-gap: 1px * $i;
      }

      &-gcg-#{$i} {
        grid-column-gap: 1px * $i;
      }

    }
  }

}