@use 'config.scss' as *;

$height: (
  '0': 0,
  '100per': 100%,
  '100vh': 100vh,
);

.#{$namespace} {

  @each $h in map-keys($height) {
    &-h-#{$h} {
      height: map-get($height, $h);
    }
  }

  &-mh-100vh {
    min-height: 100vh;
  }
}