@use 'config.scss' as *;

.#{$namespace} {
	@for $i from 0 through 36 {
		@if $i % 2==0 {
			&-m-#{$i} {
				margin: 1px * $i;
			}

			@each $p in $position {
				$n: str-slice($p, 1, 1);

				&-m-#{$n}-#{$i} {
					margin-#{$p}: 1px * $i;
				}
			}

			&-m-tb-#{$i} {
				margin-top: 1px * $i;
				margin-bottom: 1px * $i;
			}

			&-m-lr-#{$i} {
				margin-left: 1px * $i;
				margin-right: 1px * $i;
			}
		}
	}

	&-m-lr-a {
		margin-left: auto;
		margin-right: auto;
	}
}