@use 'config.scss' as *;

@for $i from 0 through 36 {
	.#{$namespace} {
		&-m-#{$i} {
			margin: 1px * $i;
		}

		&-m-t-#{$i} {
			margin-top: 1px * $i;
		}

		&-m-b-#{$i} {
			margin-bottom: 1px * $i;
		}

		&-m-l-#{$i} {
			margin-left: 1px * $i;
		}

		&-m-r-#{$i} {
			margin-right: 1px * $i;
		}

		&-m-tb-#{$i} {
			margin-top: 1px * $i;
			margin-bottom: 1px * $i;
		}

		&-m-lr-#{$i} {
			margin-left: 1px * $i;
			margin-right: 1px * $i;
		}
	}

}