@use 'config.scss' as *;


$overflow: (
  'a': auto,
  'h': hidden,
);

.#{$namespace} {
  @each $o in map-keys($overflow) {
    &-ox-#{$o} {
      overflow-x: map-get($overflow, $o);
    }

    &-oy-#{$o} {
      overflow-y: map-get($overflow, $o);
    }

    &-o-#{$o} {
      overflow: map-get($overflow, $o);
    }
  }
}