@use 'config.scss' as *;

.#{$namespace} {

  &-oy-a {
    overflow-y: auto;
  }

  &-oy-h {
    overflow-y: hidden;
  }

  &-ox-a {
    overflow-x: auto;
  }

  &-ox-h {
    overflow-x: hidden;
  }


  &-o-a {
    overflow: auto;
  }

  &-o-h {
    overflow: hidden;
  }
}