@use 'config.scss' as *;

.#{$namespace} {

  &-relative,
  &-p-r {
    position: relative;
  }

  &-absolute,
  &-p-a {
    position: absolute;
  }

  &-fixed,
  &-p-f {
    position: fixed;
  }

  &-p-s {
    position: sticky;
  }

  @each $p in $position {
    $n: str-slice($p, 1, 1);

    // .g-t-0 {
    //   top: 0;
    // }
    &-#{$n}-0 {
      #{$p}: 0;
    }
  }
}