.g-relative,
.g-p-r {
  position: relative;
}

.g-absolute,
.g-p-a {
  position: absolute;
}

.g-fixed,
.g-p-f {
  position: fixed;
}

.g-p-s {
  position: sticky;
}

.g-t-0 {
  top: 0;
}

.g-b-0 {
  bottom: 0;
}

.g-l-0 {
  left: 0;
}

.g-r-0 {
  right: 0;
}