@use 'config.scss' as *;

$positions: relative, absolute, fixed, sticky;

.#{$namespace} {
  @each $p in $positions {
    $n: str-slice($p, 1, 1);

    &-p-#{$n} {
      position: $p;
    }
  }

  @each $p in $position {
    $n: str-slice($p, 1, 1);

    &-#{$n}-0 {
      #{$p}: 0;
    }
  }
}